<div class="container">
    <h2>Packages which are suitable for you..</h2>
    <div class="row">

        <div class="card col-sm-3">
            <img class="card-img-top img-item" src="../img/hotel/hotel1.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Package 1</h5>
                <div class="pkg-price">300$</div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Book This Package</a>
            </div>
        </div>

        <div class="card col-sm-3">
            <img class="card-img-top img-item" src="../img/hotel/hotel2.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Package 2</h5>
                <div class="pkg-price">390$</div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Book This Package</a>
            </div>
        </div>

            <div class="card col-sm-3">
                <img class="card-img-top img-item" src="../img/hotel/hotel3.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Package 3</h5>
                    <div class="pkg-price">348$</div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Book This Package</a>
                </div>
            </div>
        <div class="card col-sm-3">
            <a href="#">Explore more</a>
        </div>

    </div>

    <h2>Expedia Suggested alternatives</h2>
    <div class="row">

        <div class="card col-sm-3">
            <img class="card-img-top img-item " src="../img/hotel/hotel4.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Package 1</h5>
                <div class="pkg-price">450$</div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Book This Package</a>
            </div>
        </div>

        <div class="card col-sm-3">
            <img class="card-img-top img-item" src="../img/hotel/hotel5.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Package 2</h5>
                <div class="pkg-price">408</div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Book This Package</a>
            </div>
        </div>

        <div class="card col-sm-3">
            <img class="card-img-top img-item" src="../img/hotel/hotel6.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Package 3</h5>
                <div class="pkg-price">422$</div>
                <a href="#">Read expert reviews</a>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Book This Package</a>
            </div>
        </div>

        <div class="card col-sm-3">
            <a href="#">Read expert reviews</a>
        </div>

    </div>
</div>