<div id="header" style="margin-top: -40px;
    /* padding: 1px; */
    margin-left: -25px;
    width: 103%;"><img src="./images/header.png" style="width:100%"/></div>
<p>Hey you have almost 139 packages...</p>




<div class="mainContainer row" style="height: 288px;padding:4px;">
    <div>
        <div class="hotelSection slideshow-container col-lg-4">

            <div class="mySlides">
                <img  id="udpImages" src="./img/hotel/hotel1.jpeg" style="    object-fit: cover;width: 99%;height: 164px;">
            </div><br>
            <div class="row">
                <div class="sideImage col-md-2"><img src="./img/hotel/hotel2.jpeg"  style="object-fit: cover;width: 210%;margin-top: -25%; height:105px;"/> </div>
                <div class="sideImage col-md-2"><img src="./img/hotel/hotel3.jpeg" style="    object-fit: cover;
    width: 210%;
    margin-top: -25%;
    height: 105px;
    margin-left: 41px;"/></div>
                <div class="sideImage col-md-2"><img src="./img/hotel/hotel5.jpeg" style="    object-fit: cover;
    width: 210%;
    margin-top: -25%;
    height: 105px;
    margin-left: 84px;"/></div>
                <div class="sideImage col-md-2"><img src="./img/hotel/hotel4.jpeg" style="object-fit: cover;
    width: 186%;
    margin-top: -25%;
    height: 105px;
    margin-left: 126px;"/></div>
            </div>

        </div>
    </div>
        <div class="flightSection col-lg-8">
            <span style="font-size: 24px;color: #0a395d;">Hotel Name: </span><span style="font-size: 23px;text-decoration: underline;">Four Seasons Hotel Newyork</span><br>
            <span style="font-size: 24px;color: #0a395d;">Flight Name: </span><span style="font-size: 23px;text-decoration: underline;">American Airlines</span>
        </div>

</div>
<hr>
<br>
<div class="mainContainer row" style="height: 288px;padding:4px;">
    <div>
        <div class="hotelSection slideshow-container col-lg-4">

            <div class="mySlides">
                <img  id="udpImages" src="./img/hotel/hotel1.jpeg" style="    object-fit: cover;width: 99%;height: 164px;">
            </div><br>
            <div class="row">
                <div class="sideImage col-md-2"><img src="./img/hotel/hotel2.jpeg"  style="object-fit: cover;width: 210%;margin-top: -25%; height:105px;"/> </div>
                <div class="sideImage col-md-2"><img src="./img/hotel/hotel3.jpeg" style="    object-fit: cover;
    width: 210%;
    margin-top: -25%;
    height: 105px;
    margin-left: 41px;"/></div>
                <div class="sideImage col-md-2"><img src="./img/hotel/hotel5.jpeg" style="    object-fit: cover;
    width: 210%;
    margin-top: -25%;
    height: 105px;
    margin-left: 84px;"/></div>
                <div class="sideImage col-md-2"><img src="./img/hotel/hotel4.jpeg" style="object-fit: cover;
    width: 186%;
    margin-top: -25%;
    height: 105px;
    margin-left: 126px;"/></div>
            </div>

        </div>
    </div>
    <div class="flightSection col-lg-8">Flight Details</div>

</div>
<hr>
<br>
<div class="mainContainer row" style="height: 288px;padding:4px;">
    <div>
        <div class="hotelSection slideshow-container col-lg-4">

            <div class="mySlides">
                <img  id="udpImages" src="./img/hotel/hotel1.jpeg" style="    object-fit: cover;width: 99%;height: 164px;">
            </div><br>
            <div class="row">
                <div class="sideImage col-md-2"><img src="./img/hotel/hotel2.jpeg"  style="object-fit: cover;width: 210%;margin-top: -25%; height:105px;"/> </div>
                <div class="sideImage col-md-2"><img src="./img/hotel/hotel3.jpeg" style="    object-fit: cover;
    width: 210%;
    margin-top: -25%;
    height: 105px;
    margin-left: 41px;"/></div>
                <div class="sideImage col-md-2"><img src="./img/hotel/hotel5.jpeg" style="    object-fit: cover;
    width: 210%;
    margin-top: -25%;
    height: 105px;
    margin-left: 84px;"/></div>
                <div class="sideImage col-md-2"><img src="./img/hotel/hotel4.jpeg" style="object-fit: cover;
    width: 186%;
    margin-top: -25%;
    height: 105px;
    margin-left: 126px;"/></div>
            </div>

        </div>
    </div>
    <div class="flightSection col-lg-8">Flight Details</div>

</div>
<hr>
<br>
<div class="mainContainer row" style="height: 288px;padding:4px;">
    <div>
        <div class="hotelSection slideshow-container col-lg-4">

            <div class="mySlides">
                <img  id="udpImages" src="./img/hotel/hotel1.jpeg" style="    object-fit: cover;width: 99%;height: 164px;">
            </div><br>
            <div class="row">
                <div class="sideImage col-md-2"><img src="./img/hotel/hotel2.jpeg"  style="object-fit: cover;width: 210%;margin-top: -25%; height:105px;"/> </div>
                <div class="sideImage col-md-2"><img src="./img/hotel/hotel3.jpeg" style="    object-fit: cover;
    width: 210%;
    margin-top: -25%;
    height: 105px;
    margin-left: 41px;"/></div>
                <div class="sideImage col-md-2"><img src="./img/hotel/hotel5.jpeg" style="    object-fit: cover;
    width: 210%;
    margin-top: -25%;
    height: 105px;
    margin-left: 84px;"/></div>
                <div class="sideImage col-md-2"><img src="./img/hotel/hotel4.jpeg" style="object-fit: cover;
    width: 186%;
    margin-top: -25%;
    height: 105px;
    margin-left: 126px;"/></div>
            </div>

        </div>
    </div>
    <div class="flightSection col-lg-8">Flight Details</div>

</div>







</body>
</html>
